.edit-btn {
    background-color: #ffc107;
    border-color: #ffc107;
    color: rgba(0, 0, 0, 0.85);
}

.edit-btn:hover,
.edit-btn:focus {
    background-color: rgba(255, 193, 7, 0.8) !important;
    border-color: #ffc107;
}